<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%=@garden.banner_url%>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container my-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Home', root_path  %>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @garden.name %></li>
    </ol>
  </nav>
</div>

<div class="container my-3">
  <%= simple_form_for [@garden, @plant] do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url %>
    <%= f.button :submit, class: 'btn btn-primary btn-block' %>
  <% end %>
</div>

<div class="container my-3">
  <div class="row">
    <% @garden.plants.each do |plant| %>
    <div class="col-4">
      <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=plant.image_url%>')">
        <%= plant.name %>
        <%= link_to plant_path(plant), method: :delete, data: { confirm: "Are you sure bro!" }, class: "card-remove-link"  do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

